html {
  font-family: 'Mina', sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  align-items: end;
  border-bottom: .3rem solid white;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: green;
  text-shadow: 2px 2px #ff0000;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: underline;
  color: white;
  font-size: 1em;
  margin: 5px;

}

p {
  font-family: 'Montserrat', sans-serif;
}
